### Probar guardar datos en sqlite

In [9]:
import sqlite3
import pandas as pd
# 1. Conectar a la base de datos (creará el archivo 'datos.db' en la misma carpeta del notebook)
conexion = sqlite3.connect('../database/datos.db')
cursor = conexion.cursor()

In [ ]:
# # 2. Crear una tabla
# cursor.execute('''
#     CREATE TABLE IF NOT EXISTS produccion (
#         id INTEGER PRIMARY KEY AUTOINCREMENT,
#         fecha TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
#         maquina TEXT,
#         produccion INTEGER,
#         calidad INTEGER,
#         paradas INTEGER
#     )
# ''')

# # 3. Insertar datos de ejemplo
# cursor.execute("INSERT INTO produccion (maquina, produccion, calidad, paradas) VALUES ('Maquina A', 100, 95, 5)")
# conexion.commit()

# # 4. Consultar datos con sqlite3
# cursor.execute("SELECT * FROM produccion")
# filas = cursor.fetchall()

# for fila in filas:
#     print(fila)

# # 5. Cerrar la conexión
# conexion.close()

In [10]:
# 2. Ejecutar la consulta SQL y cargar los datos en un DataFrame
df = pd.read_sql_query("SELECT * FROM produccion", conexion)
df.head()

   id                fecha    maquina  produccion  calidad  paradas
0   1  2026-02-28 12:42:33  Maquina A         100       95        5
1   2  2026-02-28 12:43:11  Maquina A         100       95        5